* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

.logo-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.lang {
    text-align: right;
    padding-right: 50px;
    margin-left: auto;
    padding-top: 20px;
    font-weight: 500;
    position: absolute;
    right: 0;
}

.lang a {
    padding-right: 20px;
    text-decoration: none;
}

.log-image {
    height: 171px;
}

.content {
    height: 100vh;
    color: white;
    background-image: url(../img/bg2.jpg);
    text-align: center;
}

h1 {
    padding-top: 50px;
}

.services {
    margin-top: 30px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: block;
}

.pickt {
    height: 40px;
}

footer {
    margin-top: 50px;
}
