* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/bg-2.png);
    font-family: 'Montserrat', sans-serif;
}

.logo-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.lang {
    text-align: right;
    /* padding-right: 50px; */
    /* margin-left: auto; */
    padding-top: 20px;
    /* position: absolute; */
    /* right: 0; */
}

.lang img {
    height: 40px;
    margin-top: 15px;
}

.lang a {
    padding-right: 20px;
    text-decoration: none;
}

.log-image {
    height: 170px;
    padding-left: 20px;
}

.header-text-block {
    text-align: left;
    margin-top: 40px;
    padding-left: 40px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 130%;
    font-stretch: 150%;
}

.experience {
    padding-top: 10px;
}

.content-left {
    /* height: 100vh; */
    /* border-radius: 10px; */
    color: white;
    background-image: url(../img/bg2.jpg);
    text-align: center;
}

.servise-title {
    padding-top: 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
}

.services {
    padding-top: 30px;
    padding-left: 180px;
    text-align: left;
    padding-bottom: 15px;
}

.services p {
    height: 50px;
    line-height: 120%;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.pickt {
    height: 40px;
    display: block;
    float: left;
    padding-right: 20px;
}

.servise-descriprion {
    margin: 0;
}

.service-garanty {
    padding-top: 30px;
    font-size: small;
}

.content-rigth img {
    width: 350px;
}
.content-rigth img:not(:first-child) {
    padding-top: 7px;
}

.main-text {
    margin-right: 5px;
    font-size: 18px;
    text-align: justify;
}

.head-text,
footer {
    border-right: solid;
    border-color: rgb(8, 8, 186);
    text-align: right;
    padding-right: 20px;
}

.head-text {
    padding-top: 40px;
    margin-top: 50px;
}
.head-text p {
    margin-bottom: 0px;
}

.text-solid {
    font-weight: 500;
}

.middle-text {
    padding-top: 50px;
    padding-bottom: 50px;
}

footer {
    display: flex;
    align-items: right;
    justify-content: right;
    height: 100px;
}

.footer-text {
    float: right;
    height: 60px;
}

.footer-adres {
    font-weight: 500;
}

.qrcode {
    height: 75px;
    padding-left: 20px;
}

@media (max-width: 419px) {
    .logo-box {
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .log-image {
        height: 40px;
        padding-left: 0px;
    }

    .header-text-block {
        margin-top: 10px;
        padding-left: 0px;
        font-size: 7px;
    }

    .experience {
        padding-top: 0px;
    }

    .lang {
        padding-top: 12px;
        text-align: center;
    }

    .lang img {
        height: 15px;
        margin-top: 5px;
    }
    .lang a {
        padding-right: 0px;
    }

    .servise-title {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 10px;
    }
    .services {
        padding-top: 0px;
        padding-left: 20px;
    }
    .services p {
        height: 25px;
        font-size: 10px;
    }
    .pickt {
        height: 25px;
        padding-right: 10px;
    }
    .service-garanty {
        font-size: 8px;
    }
    .content-left {
        width: 100%;
        padding-left: 20%;
    }

    .content-rigth {
        display: none;
    }

    .main-text {
        font-size: 13px;
        text-align: justify;
        padding-left: 10px;
    }
    .middle-text {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
    }
    .head-text {
        margin-top: 10px;
    }

    .qrcode {
        height: 60px;
        padding-left: 10px;
    }
}

@media (min-width: 420px) and (max-width: 480px) {
    .logo-box {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .log-image {
        height: 70px;
        padding-left: 0px;
    }

    .header-text-block {
        margin-top: 10px;
        padding-left: 5px;
        font-size: 7px;
    }

    .experience {
        padding-top: 0px;
    }

    .lang {
        padding-top: 12px;
        text-align: center;
    }

    .lang img {
        height: 15px;
        margin-top: 5px;
    }
    .lang a {
        padding-right: 0px;
    }

    .servise-title {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 10px;
    }
    .services {
        padding-top: 0px;
        padding-left: 25px;
    }
    .services p {
        height: 28px;
        line-height: 120%;
        font-size: 10px;
    }
    .pickt {
        height: 28px;
        display: block;
        float: left;
        padding-right: 10px;
    }
    .service-garanty {
        font-size: 9px;
    }
    .content-left {
        width: 100%;
        padding-left: 20%;
    }

    .content-rigth {
        display: none;
    }

    .main-text {
        font-size: 13px;
        text-align: justify;
        padding-left: 10px;
    }
    .middle-text {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
    }
    .head-text {
        margin-top: 10px;
    }

    .qrcode {
        height: 60px;
        padding-left: 10px;
    }
}

@media (min-width: 481px) and (max-width: 580px) {
    .logo-box {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .log-image {
        height: 80px;
        padding-left: 5px;
    }
    .header-text-block {
        margin-top: 15px;
        padding-left: 15px;
        font-size: 8px;
    }

    .experience {
        padding-top: 0px;
    }

    .lang {
        padding-top: 12px;
        text-align: center;
    }

    .lang img {
        height: 25px;
        margin-top: 5px;
    }
    .lang a {
        padding-right: 0px;
    }

    .servise-title {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 15px;
    }
    .services {
        padding-top: 5px;
        padding-left: 55px;
    }

    .services p:not(:last-child) {
        height: 30px;
        line-height: 120%;
        font-size: 12px;
    }

    .service-garanty {
        padding-top: 10px;
        font-size: 9px;
    }

    .pickt {
        height: 30px;
        display: block;
        float: left;
        padding-right: 9px;
    }

    .content-left {
        width: 100%;
        padding-left: 20%;
    }

    .content-rigth {
        display: none;
    }
    .head-text {
        margin-top: 15px;
    }
}

@media (min-width: 581px) and (max-width: 780px) {
    .logo-box {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .log-image {
        height: 80px;
        padding-left: 5px;
    }
    .header-text-block {
        margin-top: 15px;
        padding-left: 15px;
        font-size: 9px;
    }
    .experience {
        padding-top: 10px;
    }
    .lang {
        padding-top: 12px;
        text-align: center;
    }

    .lang img {
        height: 25px;
        margin-top: 5px;
    }
    .lang a {
        padding-right: 0px;
    }

    .servise-title {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 15px;
    }
    .services {
        padding-top: 5px;
        padding-left: 55px;
    }

    .services p:not(:last-child) {
        height: 30px;
        line-height: 120%;
        font-size: 14px;
    }

    .service-garanty {
        padding-top: 10px;
        font-size: 10px;
    }

    .pickt {
        height: 30px;
        display: block;
        float: left;
        padding-right: 9px;
    }
    .content-left {
        width: 100%;
        padding-left: 20%;
    }

    .content-rigth {
        display: none;
    }

    .head-text {
        margin-top: 20px;
    }
}
@media (min-width: 781px) and (max-width: 990px) {
    .logo-box {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .log-image {
        height: 100px;
        padding-left: 5px;
    }
    .header-text-block {
        margin-top: 25px;
        padding-left: 15px;
        font-size: 12px;
    }
    .lang {
        padding-top: 20px;
        text-align: center;
    }

    .lang img {
        height: 30px;
        margin-top: 10px;
    }
    .lang a {
        padding-right: 0px;
    }

    .servise-title {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 18px;
    }
    .services {
        padding-top: 5px;
        padding-left: 85px;
    }

    .services p:not(:last-child) {
        height: 40px;
        line-height: 120%;
        font-size: 16px;
    }

    .service-garanty {
        padding-top: 10px;
        font-size: 12px;
    }

    .pickt {
        height: 40px;
        display: block;
        float: left;
        padding-right: 9px;
    }

    .content-left {
        width: 100%;
        padding-left: 20%;
    }

    .content-rigth {
        display: none;
    }
    .head-text {
        margin-top: 25px;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .header-text-block {
        font-size: 15px;
    }
}
