* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../img/bg.png);
}

.logo-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.lang {
    text-align: right;
    /* padding-right: 50px; */
    /* margin-left: auto; */
    padding-top: 20px;
    /* position: absolute; */
    /* right: 0; */
}

.lang img {
    height: 40px;
    margin-top: 15px;
}

.lang a {
    padding-right: 20px;
    text-decoration: none;
}

.log-image {
    height: 170px;
    padding-left: 40px;
}

.header-text-block {
    text-align: left;
    margin-top: 50px;
    padding-left: 50px;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

.content-left {
    /* height: 100vh; */
    color: white;
    background-image: url(../img/bg2.jpg);
    text-align: center;
}

.servise-title {
    padding-top: 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
}

.services {
    padding-top: 30px;
    padding-left: 150px;
    text-align: left;
}

.services p {
    height: 50px;
    line-height: 120%;
}

.pickt {
    height: 40px;
    display: block;
    float: left;
    padding-right: 20px;
}

.service-garanty {
    padding-top: 30px;
    font-size: small;
}

.content-rigth img {
    height: 250px;
}

footer {
    margin-top: 50px;
}
